<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column; font-family: Arial, sans-serif; color: #333;">
     <h1 style="text-align: center; color: #3C50E0;">{{message}}</h1>
     <p style="text-align: center;">Your email has been verified. Now you can Signin into devforum to continue this site</p>
     <br/>
     <br/>
     <div style="text-align: center;">
          <a href="{{url}}" style="display: inline-block; color: #FFF; background-color: #3C50E0; padding: 10px 20px; text-decoration: none;">SignIn</a>
     </div>
</div>